@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-primary: "Andada Pro", serif;
  --font-family-secondary: "Open Sans", sans-serif;
  --font-family-display: "Archivo", sans-serif;
}

/* Aplicar a fonte padrão do corpo do texto */
body {
  font-family: var(--font-family-display);
}

/* Exemplo de aplicação de fonte diferente */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-family-primary);
}

h6 {
  font-family: var(--font-family-secondary);
}
